# Code Owners Declaration
# This file defines the code owners for files in this repository
# See documentation here: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Fabio Castilblanco is the leader of this project and will be the default 
# reviewer if no one else is assigned
* @facastiblancor


# Aaron Neustedter wrote the contributing.md and Andrew Balmos wrote the other
# misc files in root
CONTRIBUTING.md    @aaron97neu
.markdownlint.json @abalmos
notes.md           @abalmos
README.md          @abalmos

# Andrew intially created all the files in .github with some additions by Aaron
.github            @abalmos
.github/CODEOWNERS @aaron97neu
.github/workflows/validate-codeowners.yml @aaron97neu
.github/workflows/integration-tests.yml @aaron97neu

# Andrew initally wrote the ansible scripts, with some additions by Aaron
ansible @abalmos
ansible/avena/roles/docker/files @aaron97neu

# Andrew created the original docs, with additions by Aaron
docs @abalmos
docs/hardware/lattepanda @aaron97neu

# Fabio is responsible for the development of the shield and related hardware
hardware @facastiblancor

# Andrew intially created the installers, Aaron added isntallers for the Lattepanda
# devices
installers @abalmos
installers/lattepanda-alpha @aaron97neu
installers/lattepanda-delta @aaron97neu

# Fabio wrote the cell/can logger containers
services/can_logger   @facastiblancor
services/cell_logger  @facastiblancor
services/socketcand   @facastiblancor

# Aaron wrote the gps, db, and oada related containers
services/can_watchdog @aaron97neu
services/gps_nats     @aaron97neu
services/oada_upload  @aaron97neu
services/postgres     @aaron97neu
