HostCertificate /etc/ssh/ssh_host_ed25519_key-cert.pub
TrustedUserCAKeys /etc/ssh/ca-client.pub

# Only CA based authorization is allowed
AuthorizedKeysFile /dev/null
AuthorizedPrincipalsFile /etc/ssh/auth_principals/%u

# Only trust CA trusted hosts
IgnoreUserKnownHosts yes
