[Interface]
Address = {{ ansible_host | ipsubnet }}
ListenPort = {{ avena_wg_listen }}
PostUp = wg set %i private-key /etc/wireguard/{{ avena_wg_interface }}.key; ping -c1 -W 10 {{ avena_wg_ip }};

[Peer]
PublicKey = {{ avena_wg_pubkey }}
Endpoint = {{ avena_wg_endpoint }}
AllowedIPs = {{ avena_wg_network }}
PersistentKeepalive = {{ avena_wg_keepalive }}
