# Using the run-parts function to run the all scripts in the
# /etc/periodic/gps-exporter dir every 1 min
*/1       *       *       *       *       echo -e "\nRunning run-parts on /etc/periodic/gps-exporter" > /proc/1/fd/1 && run-parts /etc/periodic/gps-exporter > /proc/1/fd/1 2>&1
